html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Tahoma;
  color: rgb(219, 219, 219);
  text-shadow: rgba(0, 0, 0, 0.25) 5px 2.4px 3.2px;
  margin: 0;
  min-height: 100vh;
  background-image: url("https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  filter: drop-shadow(20px 10px 4px rgba(0, 0, 0, 0.25));
}

.wrapper {
  background: 255, 255, 255, 0.2;
  backdrop-filter: blur(8px);
  min-height: 100vh;
  max-width: 2000px;
  padding: 0px;
  width: 100vw;
  display: flex;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
  align-items: center;
  padding: 20px;

}

.search-bar {
  width: 100%;
  max-width: 450px;
  display: flex;
  column-gap: 5px;
}

::placeholder {
    color: rgba(223, 223, 223, 0.575);
}

.search-bar input[type="text"],
button {
  flex: 1;
  color: rgb(219, 219, 219);;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 5px 5px 15px;
  display: inline-block;
  outline: 0;
  border: 0;
  transition: all 0.5s;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 2.4px 3.2px;
  height: 30px;
}

.search-bar input[type="text"]:hover,
button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.search-bar button {
  max-width: 100px;
}

.general-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 0px 0px;
}
.general-info * {
  margin: 5px;
}

#time {
  font-size: 2em;
}

.icon-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-area img {
  height: 250px;
}

.icon-area p {
  margin: 5px;
}

.temp-area {
  display: flex;
  font-size: 2em;
}

.temp-area h1,
p {
  margin: 10px 0px;
}

.extra-info {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.extra-info * {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.extra-boxes {
  min-width: 120px;
  min-height: 120px;
  text-align: center;
  color: rgb(219, 219, 219);;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: inline-block;
  outline: 0;
  border: 0;
  transition: all 0.5s;
  border-radius: 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 2.4px 3.2px;
}

.extra-box-fill {
  font-size: 1.5em;
}
