
body {
    background-color: rgb(5, 5, 83);
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    align-items: center;
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
}