.container {
    font-size: xx-large;
    display: grid;
    place-items: center;
    /* grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto; */
    grid-template-areas:
        "grid1 grid1 grid1"
        "grid2 grid3 grid4"
        "grid2 grid5 grid6";
} 

.grid-1 {
    width: 100%;
    height: auto;
    grid-area: grid1;
}
.grid-2 {
    width: 100%;
    height: auto;
    grid-area: grid2;
}
.grid-3 {
    width: 100%;
    height: auto;
    grid-area: grid3;
}
.grid-4 {
    width: 100%;
    height: auto;
    grid-area: grid4;
}
.grid-5 {
    width: 100%;
    height: auto;
    grid-area: grid5;
}
.grid-6 {
    width: 100%;
    height: auto;
    grid-area: grid6;
}

@media screen and (min-width: 600px) {
    html {
        background-color: black;
        color: white;
    }
}