<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link defer rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Howdy ${user.name}</h1>
      <p>Our teacher's name is ${teacher}</p>
      <p> We have two student's named ${students.map(student => `
        <h2>${student}</h2>
        `).join('')}</p>

    </div>
  </body>
</html>
